#!/sbin/openrc-run
# X-Zomboid-Panel-Server-ID: {{SERVER_ID}}
name={{QUOTED_SERVER_NAME}}
description={{QUOTED_SERVER_NAME}}
pidfile="${XDG_RUNTIME_DIR}/${RC_SVCNAME}.pid"

depend() {
  need net
  after firewall
}

start() {
  ebegin "Starting ${name}"
  supervise-daemon "${RC_SVCNAME}" \
    --start \
    --pidfile "${pidfile}" \
    --respawn-delay 5 \
    --respawn-max 0 \
    --chdir {{QUOTED_WORKING_DIRECTORY}} \
    --env {{QUOTED_ENV_ASSIGNMENT}} \
    -- /bin/bash {{QUOTED_LAUNCHER_PATH}}
  eend $?
}

stop() {
  ebegin "Stopping ${name}"
  supervise-daemon "${RC_SVCNAME}" --stop --pidfile "${pidfile}"
  eend $?
}
