[Unit]
Description=Zomboid Control Panel
After=network.target

[Service]
Type=simple
User=pzuser
Group=pzuser
WorkingDirectory=/opt/zomboid-panel
ExecStart=/opt/zomboid-panel/start.sh
Restart=on-failure
RestartSec=5
KillMode=process
StandardOutput=journal
StandardError=journal


LimitNOFILE=65536
LimitNPROC=4096

NoNewPrivileges=true
ProtectSystem=full
ProtectHome=read-only
ReadWritePaths=/opt/zomboid-panel
PrivateTmp=true
PrivateDevices=true
RestrictRealtime=true




[Install]
WantedBy=multi-user.target
